{% load static %}
<!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Projects</h2>
            <p>Information about my projects is in this section</p>
          </header>
  
          <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Rest Framework</h3>
                        <p>Project about what is rest framework and get post put delete operations</p>
                        <a href="https://github.com/SahilMehdiyev/Rest-Framework" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                {% comment %} <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="service-box green">
                      <i class="ri-discuss-line icon"></i>
                      <h3>Rest Framework</h3>
                      <p>Project about what is rest framework and get post put delete operations</p>
                      <a href="https://github.com/SahilMehdiyev/Rest-Framework" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                  </div>
              </div> {% endcomment %}

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="service-box blue">
                      <i class="ri-discuss-line icon"></i>
                      <h3>Detection of hand and wrist x-rays with deep learning</h3>
                      <p>YOLOv7 for Bone Fractures Detection</p>
                      <a href="https://github.com/SahilMehdiyev/YOLOv7-Bone-Fracture-Detection" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                  </div>
              </div>
            

            
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Student Management System</h3>
                <p>This is a student management system built using Django.</p>
                <a href="https://github.com/SahilMehdiyev/student-management-system" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            {% comment %} <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>MovieApp</h3>
                <p>Background and foreground of the movie application were prepared using the C# programming language.</p>
                <a href="https://github.com/SahilMehdiyev/MovieApp-Master" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
   {% endcomment %}
            {% comment %} <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-box red">
                <i class="ri-discuss-line icon"></i>
                <h3>Weather App</h3>
                <p>You can check the weather forecast by clicking on the weather application I wrote.</p>
                <a href="https://sahilmehdiyev.github.io/Weather-App/" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div> {% endcomment %}
            

          </div>
  
        </div>
  
      </section><!-- End Services Section -->
  